#page .row {
	position: relative;
}
.title {
	margin: 30px 0;
}
table {
	width: 100%;
	color: #666;
	border-color: grey;
}
.bookshelf-info td{
	padding: 15px 0 15px 40px;
	border-bottom: 1px solid #e0e5e8;
}
th {
	padding-left: 40px;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #e0e5e8;
}
img {
	width: 80px;
	height: 100px;
}
.queren {
	position: absolute;
	right: 10px;
	margin-top: 10px;
}