.book-info {
	padding: 30px;
	border-bottom: 1px solid #e0e5e8;
	position: relative;
}
.book-cover {
	float: left;
	padding: 10px;
}
.book-cover img {
	width: 161px;
	height: 200px;
	margin-right: 20px;
}
.book-about {
	display: flex;
	padding-top: 15px;
	flex-direction: column;
	justify-content: space-between;
	height: 210px;
}
.book-author-publisher {
	color: #888888;
}
.book-add {
	position: absolute;
	right: 40px;
	bottom: 30px;
}
.book-content {
	line-height: 29px;
	color: #666;
}
.book-intro {
	border-bottom: 1px solid #e0e5e8;
	padding-bottom: 30px;
}
.book-intro p {
	margin: 26px 0;
}
.collection p {
	margin: 26px 0;
}
table {
	width: 100%;
	color: #666;
	border-color: grey;
}
.table-collection td{
	padding: 15px 0 15px 40px;
	border-bottom: 1px solid #e0e5e8;
}
th{
	padding-left: 40px;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #e0e5e8;
}
